# Ignore Terraform trash files in the 'main' directory
main/.terraform/
main/.terraform.lock.hcl
main/terraform.tfstate
main/terraform.tfstate.backup


# Ignore Terraform variable files
main/*.tfvars

# IDEs and editors
*.swp
*.swo
*.DS_Store
*.vscode/
*.idea/
*.iml

# Local environment files
.env
