#
# This file provides example values for the variables required by your Terraform configuration.
# Copy this file and rename it to 'terraform.tfvars'.
# Then, replace the example values with your actual configuration values.
#

# provider.tf
aws_region       = "your-aws-region"
aws_access_key   = "your-aws-access-key"
aws_secret_key   = "your-aws-secret-key"


# rds.tf
db_username = "your-db-username"
db_password = "your-db-password"

# ec2.tf
first_instance_name          = "The name for the first EC2 instance"
second_instance_name         = "The name for the second EC2 instance"
first_instance_html_content  = "The HTML content for the first EC2 instance"
second_instance_html_content = "The HTML content for the second EC2 instance"

# s3.tf
#
bucket_name = "Your bucket name"
file_key    = "File name inside S3 bucket AWS service"
file_source = "path/to/your_file"

# elb.tf
#
elb_name = "my-elb"
